<html>
<header>
    <script src="../script/TypeScriptDemo.js" />
    </header>
    <body>
        <input type="button" value="click to add" onclick="addThis()"/><br/><br/>
        <input type="button" value="Get Table" onclick="printTable()"/><br/><br/>
        <input type="button" value="Get Largest Number" onclick="largestNumber()"/><br/><br/>
        <input type="button" value="Check Prime" onclick="checkPrime()"/><br/><br/>
        <input type="button" value="Get Factorial" onclick="getFactorial()"/>     
 </body>
</html>